In [1]:
import os
import pandas as pd
import seaborn as sns

import wrangle
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from datetime import datetime
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import statsmodels.api as sm

### Mask for United Airlines

In [2]:
flights = wrangle.pull_airline_data('UA')

/Users/emanuelvilla/codeup-data-science/CLOUD-NINE-FLIGHT-SOLUTIONS/Mannie/wrangle.py:33: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  flights = flights.append(flightsi)
/Users/emanuelvilla/codeup-data-science/CLOUD-NINE-FLIGHT-SOLUTIONS/Mannie/wrangle.py:33: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  flights = flights.append(flightsi)
/Users/emanuelvilla/codeup-data-science/CLOUD-NINE-FLIGHT-SOLUTIONS/Mannie/wrangle.py:33: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  flights = flights.append(flightsi)
/Users/emanuelvilla/codeup-data-science/CLOUD-NINE-FLIGHT-SOLUTIONS/Mannie/wrangle.py:33: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  flights = flights.append(flightsi)
/Users/emanuelvilla/codeup-data-science/CLOUD-NINE-FLIGHT-SOLUTIONS/Mannie/wrangle.py:33: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  flights = flights.append(flightsi)
/Users/emanuelvilla/codeup-data-science/CLOUD-NINE-FLIGHT-SOLUTIONS/Mannie/wrangle.py:33: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  flights = flights.append(flightsi)
/Users/emanuelvilla/codeup-data-science/CLOUD-NINE-FLIGHT-SOLUTIONS/Mannie/wrangle.py:33: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  flights = flights.append(flightsi)
/Users/emanuelvilla/codeup-data-science/CLOUD-NINE-FLIGHT-SOLUTIONS/Mannie/wrangle.py:33: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  flights = flights.append(flightsi)
/Users/emanuelvilla/codeup-data-science/CLOUD-NINE-FLIGHT-SOLUTIONS/Mannie/wrangle.py:33: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  flights = flights.append(flightsi)
/Users/emanuelvilla/codeup-data-science/CLOUD-NINE-FLIGHT-SOLUTIONS/Mannie/wrangle.py:33: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  flights = flights.append(flightsi)
/Users/emanuelvilla/codeup-data-science/CLOUD-NINE-FLIGHT-SOLUTIONS/Mannie/wrangle.py:41: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  flights = flights.append(flights2019)

In [3]:
flights.OP_CARRIER.value_counts()

UA    5452568
Name: OP_CARRIER, dtype: int64

In [4]:
flights

,FL_DATE,OP_CARRIER,ORIGIN,DEST,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
3102,2009-01-01,UA,ORD,HNL,NaN,NaN,NaN,NaN,NaN
3103,2009-01-01,UA,HNL,ORD,NaN,NaN,NaN,NaN,NaN
3104,2009-01-01,UA,ORD,CLT,NaN,NaN,NaN,NaN,NaN
3105,2009-01-01,UA,JFK,SFO,NaN,NaN,NaN,NaN,NaN
3106,2009-01-01,UA,JFK,SFO,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
7417301,2019-12-31,UA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7417302,2019-12-31,UA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7417303,2019-12-31,UA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7417304,2019-12-31,UA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7417305,2019-12-31,UA,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
flights.describe()

,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
count,1.030870e+06,1.030870e+06,1.030870e+06,1.030870e+06,1.030870e+06
mean,1.756348e+01,2.835766e+00,1.859367e+01,2.661926e-02,2.569592e+01
std,4.628558e+01,2.259016e+01,3.569333e+01,1.764515e+00,5.199768e+01
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,0.000000e+00,0.000000e+00,5.000000e+00,0.000000e+00,0.000000e+00
75%,1.800000e+01,0.000000e+00,2.300000e+01,0.000000e+00,3.100000e+01
max,1.523000e+03,1.398000e+03,1.375000e+03,7.170000e+02,1.509000e+03

In [6]:
row_sums = flights.sum(axis=1)
row_sums

/var/folders/qh/kjmdb2zx3n3b2ng_n4q3cyn00000gn/T/ipykernel_83446/4111916114.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  row_sums = flights.sum(axis=1)

3102       0.0
3103       0.0
3104       0.0
3105       0.0
3106       0.0
          ...
7417301    0.0
7417302    0.0
7417303    0.0
7417304    0.0
7417305    0.0
Length: 5452568, dtype: float64

In [7]:
flights['row_sum'] = flights.sum(axis=1)
flights

/var/folders/qh/kjmdb2zx3n3b2ng_n4q3cyn00000gn/T/ipykernel_83446/3951544151.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  flights['row_sum'] = flights.sum(axis=1)

,FL_DATE,OP_CARRIER,ORIGIN,DEST,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,row_sum
3102,2009-01-01,UA,ORD,HNL,NaN,NaN,NaN,NaN,NaN,0.0
3103,2009-01-01,UA,HNL,ORD,NaN,NaN,NaN,NaN,NaN,0.0
3104,2009-01-01,UA,ORD,CLT,NaN,NaN,NaN,NaN,NaN,0.0
3105,2009-01-01,UA,JFK,SFO,NaN,NaN,NaN,NaN,NaN,0.0
3106,2009-01-01,UA,JFK,SFO,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...
7417301,2019-12-31,UA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
7417302,2019-12-31,UA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
7417303,2019-12-31,UA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
7417304,2019-12-31,UA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
7417305,2019-12-31,UA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [8]:
flights.columns

Index(['FL_DATE', 'OP_CARRIER', 'ORIGIN', 'DEST', 'CARRIER_DELAY',
       'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY',
       'row_sum'],
      dtype='object')

In [11]:
delay_flights = flights[flights['row_sum']>0]
delay_flights

,FL_DATE,OP_CARRIER,ORIGIN,DEST,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,row_sum
3117,2009-01-01,UA,LAX,JFK,0.0,0.0,0.0,0.0,45.0,45.0
3126,2009-01-01,UA,PDX,SFO,12.0,0.0,0.0,0.0,11.0,23.0
3129,2009-01-01,UA,DEN,HNL,0.0,0.0,0.0,0.0,162.0,162.0
3143,2009-01-01,UA,KOA,SFO,0.0,0.0,27.0,0.0,0.0,27.0
3149,2009-01-01,UA,KOA,LAX,0.0,0.0,15.0,0.0,0.0,15.0
...,...,...,...,...,...,...,...,...,...,...
7417209,2019-12-31,UA,NaN,NaN,31.0,0.0,0.0,0.0,0.0,31.0
7417231,2019-12-31,UA,NaN,NaN,0.0,0.0,15.0,0.0,0.0,15.0
7417232,2019-12-31,UA,NaN,NaN,0.0,0.0,0.0,0.0,43.0,43.0
7417243,2019-12-31,UA,NaN,NaN,0.0,0.0,16.0,0.0,0.0,16.0
7417254,2019-12-31,UA,NaN,NaN,8.0,0.0,9.0,0.0,0.0,17.0

In [13]:
delay_flights[delay_flights['ORIGIN'].notnull()]

,FL_DATE,OP_CARRIER,ORIGIN,DEST,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,row_sum
3117,2009-01-01,UA,LAX,JFK,0.0,0.0,0.0,0.0,45.0,45.0
3126,2009-01-01,UA,PDX,SFO,12.0,0.0,0.0,0.0,11.0,23.0
3129,2009-01-01,UA,DEN,HNL,0.0,0.0,0.0,0.0,162.0,162.0
3143,2009-01-01,UA,KOA,SFO,0.0,0.0,27.0,0.0,0.0,27.0
3149,2009-01-01,UA,KOA,LAX,0.0,0.0,15.0,0.0,0.0,15.0
...,...,...,...,...,...,...,...,...,...,...
7203454,2018-12-31,UA,JAC,DEN,0.0,0.0,24.0,0.0,0.0,24.0
7203455,2018-12-31,UA,SFO,SEA,0.0,0.0,16.0,0.0,0.0,16.0
7203462,2018-12-31,UA,ORD,MCO,0.0,0.0,26.0,0.0,0.0,26.0
7203465,2018-12-31,UA,BOS,ORD,0.0,0.0,26.0,0.0,0.0,26.0
7203472,2018-12-31,UA,EWR,LAX,17.0,0.0,0.0,0.0,5.0,22.0

In [21]:
list_of_airports = delay_flights['ORIGIN'].value_counts()
list_of_airports = pd.DataFrame(list_of_airports)
list_of_airports.nunique()

ORIGIN    119
dtype: int64

In [22]:
list_of_airports.head(38)

     ORIGIN
ORD  150426
SFO   99231
DEN   94768
IAH   83668
EWR   83145
LAX   50753
IAD   43133
BOS   22214
LAS   18959
MCO   17763
SEA   15343
LGA   14937
SAN   12952
DCA    8750
SNA    8427
PHX    8273
TPA    8252
PDX    8206
CLE    8087
PHL    7705
FLL    7332
DFW    6745
MSY    6552
HNL    6470
BWI    5595
MSP    5521
AUS    5311
JFK    5238
MIA    5159
ATL    4957
PIT    3492
RDU    3465
PBI    3218
SMF    3120
SJU    3004
OGG    2809
RSW    2742
SAT    2543

### How are these columns related and how can I combine them

### Compare the columns by various measures

In [ ]:
#Fills in nulls as zero as null means no delay
flights.fillna(0, inplace=True)
#Makes FL_DATE column a datetime datatype
flights.FL_DATE = flights.FL_DATE.astype('datetime64')
#Makes FL_DATE the index
# flights = flights.set_index('FL_DATE')

In [ ]:
flights_cat = flights
flights_cat['carrier'] = flights_cat.CARRIER_DELAY > 0

In [ ]:
flights_cat['weather'] = flights_cat.WEATHER_DELAY > 0

In [ ]:
flights_cat['nas'] = flights_cat.NAS_DELAY > 0

In [ ]:
flights_cat['security'] = flights_cat.SECURITY_DELAY > 0

In [ ]:
flights_cat['late_aircraft'] = flights_cat.LATE_AIRCRAFT_DELAY > 0

In [ ]:
flights_cat.drop(columns=['OP_CARRIER', 'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY'])

### At first glance it seems weird that weather does not have as many rows as the rest.  As a pilot I thought that weather dominates the delays so I wondered why this is the case.

### It seems that the NAS data includes non extreme weater as does carrier and late aircraft delay.

In [ ]:
dep = pd.crosstab(flights_cat.FL_DATE, [flights_cat.carrier, flights_cat.weather, flights_cat.nas, flights_cat.security, flights_cat.late_aircraft])

### Chi squared
* Null Hypothesis:  These delay types are independent of each other
* Alternative Hypothesis:  These types are dependent on each other
* Alpha < 0.05

In [ ]:
dep

In [ ]:
chi2, p, degf, expected = stats.chi2_contingency(dep)

In [ ]:
chi2, p

#### There is sufficient evidence to reject the null.  They are dependent on each other.

#### This suggests that there may bee some sort of overlap.  A quick look at the NAS delays shows that minor weather phenomena show up in the NAS as opposed to weather.  Also a weather delay on one leg of an airplanes trip seems to turn into a carrier delay on the next.

### A look at histograms

In [ ]:
plt.hist(flights.CARRIER_DELAY, bins=100)

In [ ]:
plt.hist(flights.WEATHER_DELAY, bins=100)

In [ ]:
plt.hist(flights.NAS_DELAY, bins=100)

In [ ]:
plt.hist(flights.SECURITY_DELAY, bins=100)

In [ ]:
plt.hist(flights.LATE_AIRCRAFT_DELAY, bins=100)

#### Skewed makes a whole lot of sense.  Nothing unexpected here.

### THERE IS sufficient evidence that I can combine these columns in feature engineering.

### Resample my data by daily mean delays

In [ ]:
flights_daily_mean = wrangle.clean_flight_data_for_average_daily_delay(flights)

In [ ]:
flights_daily_mean.sort_index()

In [ ]:
flights_daily_mean.isna().sum()

### Find the best interval to define average delay by to optimize reducing noise while keeping good correlation results

In [ ]:
def plot_average_by_interval():
    
    resample_dict = {'D':'Daily', 'W':'Weekly', '2W':'FORTNIGHTLY', 'M':'Monthly', '3M':'Quarterly', '6M':'Semi-Annually', 'Y':'Yearly'}

    for _ in resample_dict:
        plt.figure(figsize=(10,6))

        flights_daily_mean.resample(_).mean().average_delay.plot(label='daily')
        # flights_daily_mean.resample('W').mean().average_delay.plot(label='weekly')
        # flights_daily_mean.resample('M').mean().average_delay.plot(label='monthly')
        # flights_daily_mean.resample('Y').mean().average_delay.plot(label='yearly')


        plt.title(f'{resample_dict[_][0:]} Average Delay')
        plt.legend()
        plt.show()

        pd.plotting.autocorrelation_plot(flights_daily_mean.average_delay.resample(_).mean())
        plt.show()

plot_average_by_interval()

### Plot the best lag plot based on the airline.  The best will always be 365

In [ ]:
def plot_best_lag_plot():

    #Plots the best correlated lag
    pd.plotting.lag_plot(flights_daily_mean.resample('W').mean(), lag=365)
    plt.title('lag plot');

plot_best_lag_plot()

### Split the data by year

In [ ]:
train = flights_daily_mean.iloc[:2016] 
test = flights_daily_mean.iloc[2016:] 
train.loc['2009-09-30':]

In [ ]:
test

### Plot the seasonal decompositions for the various time periods

In [ ]:
y = train.average_delay.resample('d').mean()

result = sm.tsa.seasonal_decompose(y)

decomposition = pd.DataFrame({
    'y': result.observed,
    'trend': result.trend,
    'seasonal': result.seasonal,
    'resid': result.resid
})

decomposition['trend_centered'] = decomposition.trend - decomposition.trend.mean()
decomposition[['trend_centered', 'seasonal', 'resid']].plot();

In [ ]:
y = train.average_delay.resample('w').mean()

result = sm.tsa.seasonal_decompose(y)

decomposition = pd.DataFrame({
    'y': result.observed,
    'trend': result.trend,
    'seasonal': result.seasonal,
    'resid': result.resid
})

decomposition['trend_centered'] = decomposition.trend - decomposition.trend.mean()
decomposition[['trend_centered', 'seasonal', 'resid']].plot();

In [ ]:
def seasonal_decomposition_plot(duration):
    y = train.average_delay.resample(duration).mean()

    result = sm.tsa.seasonal_decompose(y)

    decomposition = pd.DataFrame({
        'y': result.observed,
        'trend': result.trend,
        'seasonal': result.seasonal,
        'resid': result.resid
    })

    decomposition['trend_centered'] = decomposition.trend - decomposition.trend.mean()
    decomposition[['trend_centered', 'seasonal', 'resid']].plot();
    
seasonal_decomposition_plot('2w')

In [ ]:
y = train.average_delay.resample('m').mean()

result = sm.tsa.seasonal_decompose(y)

decomposition = pd.DataFrame({
    'y': result.observed,
    'trend': result.trend,
    'seasonal': result.seasonal,
    'resid': result.resid
})

decomposition['trend_centered'] = decomposition.trend - decomposition.trend.mean()
decomposition[['trend_centered', 'seasonal', 'resid']].plot();

In [ ]:
y = train.average_delay.resample('3m').mean()

result = sm.tsa.seasonal_decompose(y)

decomposition = pd.DataFrame({
    'y': result.observed,
    'trend': result.trend,
    'seasonal': result.seasonal,
    'resid': result.resid
})

decomposition['trend_centered'] = decomposition.trend - decomposition.trend.mean()
decomposition[['trend_centered', 'seasonal', 'resid']].plot();

In [ ]:
y = train.average_delay.resample('6m').mean()

result = sm.tsa.seasonal_decompose(y)

decomposition = pd.DataFrame({
    'y': result.observed,
    'trend': result.trend,
    'seasonal': result.seasonal,
    'resid': result.resid
})

decomposition['trend_centered'] = decomposition.trend - decomposition.trend.mean()
decomposition[['trend_centered', 'seasonal', 'resid']].plot();

In [ ]:
y = train.average_delay.resample('y').mean()

result = sm.tsa.seasonal_decompose(y)

decomposition = pd.DataFrame({
    'y': result.observed,
    'trend': result.trend,
    'seasonal': result.seasonal,
    'resid': result.resid
})

decomposition['trend_centered'] = decomposition.trend - decomposition.trend.mean()
decomposition[['trend_centered', 'seasonal', 'resid']].plot();

### Once again the best period to resample by seems to be 2 weeks or a fortnight