In [1]:
import os
import pandas as pd
import seaborn as sns

import wrangle
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from datetime import datetime
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import statsmodels.api as sm

### Mask for United Airlines

In [2]:
flights = wrangle.pull_airline_data('UA')

In [3]:
flights.OP_CARRIER.value_counts()

UA    5452568
Name: OP_CARRIER, dtype: int64

In [4]:
flights

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
3102,2009-01-01,UA,1,ORD,HNL,NaN,NaN,NaN,NaN,NaN
3103,2009-01-01,UA,2,HNL,ORD,NaN,NaN,NaN,NaN,NaN
3104,2009-01-01,UA,2,ORD,CLT,NaN,NaN,NaN,NaN,NaN
3105,2009-01-01,UA,5,JFK,SFO,NaN,NaN,NaN,NaN,NaN
3106,2009-01-01,UA,7,JFK,SFO,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
7417301,2019-12-31,UA,200,GUM,HNL,NaN,NaN,NaN,NaN,NaN
7417302,2019-12-31,UA,174,GUM,SPN,NaN,NaN,NaN,NaN,NaN
7417303,2019-12-31,UA,156,SPN,GUM,NaN,NaN,NaN,NaN,NaN
7417304,2019-12-31,UA,117,SPN,GUM,NaN,NaN,NaN,NaN,NaN
7417305,2019-12-31,UA,112,GUM,SPN,NaN,NaN,NaN,NaN,NaN

In [5]:
df = wrangle.clean_flight_data_for_average_daily_delay(flights)

/Users/emanuelvilla/codeup-data-science/CLOUD-NINE-FLIGHT-SOLUTIONS/Mannie/wrangle.py:72: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flights.fillna(0, inplace=True)
/Users/emanuelvilla/codeup-data-science/CLOUD-NINE-FLIGHT-SOLUTIONS/Mannie/wrangle.py:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flights.FL_DATE = flights.FL_DATE.astype('datetime64')
/Users/emanuelvilla/codeup-data-science/CLOUD-NINE-FLIGHT-SOLUTIONS/Mannie/wrangle.py:83: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  flights_monthly_mean = flights.resample('M').mean().total_delays
/Users/emanuelvilla/codeup-data-science/CLOUD-NINE-FLIGHT-SOLUTIONS/Mannie/wrangle.py:89: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  flights_daily_mean = pd.DataFrame(flights.resample('D').mean().total_delays)
/Users/emanuelvilla/codeup-data-science/CLOUD-NINE-FLIGHT-SOLUTIONS/Mannie/wrangle.py:104: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  list_tuples.FL_DATE = list_tuples.FL_DATE.astype('datetime64')
/Users/emanuelvilla/codeup-data-science/CLOUD-NINE-FLIGHT-SOLUTIONS/Mannie/wrangle.py:108: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  flights_daily_mean = flights_daily_mean.append(list_tuples)
/Users/emanuelvilla/codeup-data-science/CLOUD-NINE-FLIGHT-SOLUTIONS/Mannie/wrangle.py:119: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  list_tuples_2.FL_DATE = list_tuples_2.FL_DATE.astype('datetime64')
/Users/emanuelvilla/codeup-data-science/CLOUD-NINE-FLIGHT-SOLUTIONS/Mannie/wrangle.py:122: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  flights_daily_mean = flights_daily_mean.append(list_tuples_2)

In [6]:
flights.head()

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
3102,2009-01-01,UA,1,ORD,HNL,NaN,NaN,NaN,NaN,NaN
3103,2009-01-01,UA,2,HNL,ORD,NaN,NaN,NaN,NaN,NaN
3104,2009-01-01,UA,2,ORD,CLT,NaN,NaN,NaN,NaN,NaN
3105,2009-01-01,UA,5,JFK,SFO,NaN,NaN,NaN,NaN,NaN
3106,2009-01-01,UA,7,JFK,SFO,NaN,NaN,NaN,NaN,NaN

In [7]:
df.head()

            average_delay
FL_DATE
2009-01-01       9.476331
2009-01-02      14.867114
2009-01-03      10.870654
2009-01-04       6.481283
2009-01-05       8.797844

In [7]:
flights.describe()

,OP_CARRIER_FL_NUM,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
count,5.452568e+06,1.030870e+06,1.030870e+06,1.030870e+06,1.030870e+06,1.030870e+06
mean,9.583852e+02,1.756348e+01,2.835766e+00,1.859367e+01,2.661926e-02,2.569592e+01
std,6.050385e+02,4.628558e+01,2.259016e+01,3.569333e+01,1.764515e+00,5.199768e+01
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,4.520000e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,7.800000e+02,0.000000e+00,0.000000e+00,5.000000e+00,0.000000e+00,0.000000e+00
75%,1.481000e+03,1.800000e+01,0.000000e+00,2.300000e+01,0.000000e+00,3.100000e+01
max,2.833000e+03,1.523000e+03,1.398000e+03,1.375000e+03,7.170000e+02,1.509000e+03

In [8]:
row_sums = flights.sum(axis=1)
row_sums

/var/folders/qh/kjmdb2zx3n3b2ng_n4q3cyn00000gn/T/ipykernel_85605/4111916114.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  row_sums = flights.sum(axis=1)

3102         1.0
3103         2.0
3104         2.0
3105         5.0
3106         7.0
           ...
7417301    200.0
7417302    174.0
7417303    156.0
7417304    117.0
7417305    112.0
Length: 5452568, dtype: float64

In [9]:
delay_flights = flights[flights['row_sum']>0]
delay_flights

KeyError: 'row_sum'

In [24]:
top_15_hubs = ['ATL',
'DFW',
'DEN',
'ORD',
'LAX',
'JFK',
'IAH',
'PHX',
'EWR',
'SFO',
'SEA',
'IAD',
'PHL',
'CLT',
'MIA']

In [25]:
delay_flights[delay_flights['ORIGIN'].notnull()]

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,row_sum
3102,2009-01-01,UA,1,ORD,HNL,NaN,NaN,NaN,NaN,NaN,2.0
3103,2009-01-01,UA,2,HNL,ORD,NaN,NaN,NaN,NaN,NaN,4.0
3104,2009-01-01,UA,2,ORD,CLT,NaN,NaN,NaN,NaN,NaN,4.0
3105,2009-01-01,UA,5,JFK,SFO,NaN,NaN,NaN,NaN,NaN,10.0
3106,2009-01-01,UA,7,JFK,SFO,NaN,NaN,NaN,NaN,NaN,14.0
...,...,...,...,...,...,...,...,...,...,...,...
7417301,2019-12-31,UA,200,GUM,HNL,NaN,NaN,NaN,NaN,NaN,400.0
7417302,2019-12-31,UA,174,GUM,SPN,NaN,NaN,NaN,NaN,NaN,348.0
7417303,2019-12-31,UA,156,SPN,GUM,NaN,NaN,NaN,NaN,NaN,312.0
7417304,2019-12-31,UA,117,SPN,GUM,NaN,NaN,NaN,NaN,NaN,234.0
7417305,2019-12-31,UA,112,GUM,SPN,NaN,NaN,NaN,NaN,NaN,224.0

In [26]:
delay_flights[delay_flights['ORIGIN'].isin(top_15_hubs)]

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,row_sum
3102,2009-01-01,UA,1,ORD,HNL,NaN,NaN,NaN,NaN,NaN,2.0
3104,2009-01-01,UA,2,ORD,CLT,NaN,NaN,NaN,NaN,NaN,4.0
3105,2009-01-01,UA,5,JFK,SFO,NaN,NaN,NaN,NaN,NaN,10.0
3106,2009-01-01,UA,7,JFK,SFO,NaN,NaN,NaN,NaN,NaN,14.0
3107,2009-01-01,UA,8,SFO,JFK,NaN,NaN,NaN,NaN,NaN,16.0
...,...,...,...,...,...,...,...,...,...,...,...
7417292,2019-12-31,UA,208,IAD,LAX,NaN,NaN,NaN,NaN,NaN,416.0
7417294,2019-12-31,UA,206,ORD,MCO,NaN,NaN,NaN,NaN,NaN,412.0
7417295,2019-12-31,UA,205,ORD,DCA,NaN,NaN,NaN,NaN,NaN,410.0
7417297,2019-12-31,UA,204,LAX,LAS,NaN,NaN,NaN,NaN,NaN,408.0
7417299,2019-12-31,UA,202,ORD,OGG,NaN,NaN,NaN,NaN,NaN,404.0

In [27]:
delay_flights[delay_flights['ORIGIN'].isin(top_15_hubs)].FL_DATE.nunique()

3955

In [28]:
365*11

4015

In [29]:
4015-3590

425

In [30]:
delay_flights[~delay_flights['ORIGIN'].isin(top_15_hubs)]

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,row_sum
3103,2009-01-01,UA,2,HNL,ORD,NaN,NaN,NaN,NaN,NaN,4.0
3120,2009-01-01,UA,34,OGG,SFO,NaN,NaN,NaN,NaN,NaN,68.0
3123,2009-01-01,UA,36,OGG,SFO,NaN,NaN,NaN,NaN,NaN,72.0
3124,2009-01-01,UA,37,MCO,SFO,NaN,NaN,NaN,NaN,NaN,74.0
3126,2009-01-01,UA,39,PDX,SFO,12.0,0.0,0.0,0.0,11.0,124.0
...,...,...,...,...,...,...,...,...,...,...,...
7417301,2019-12-31,UA,200,GUM,HNL,NaN,NaN,NaN,NaN,NaN,400.0
7417302,2019-12-31,UA,174,GUM,SPN,NaN,NaN,NaN,NaN,NaN,348.0
7417303,2019-12-31,UA,156,SPN,GUM,NaN,NaN,NaN,NaN,NaN,312.0
7417304,2019-12-31,UA,117,SPN,GUM,NaN,NaN,NaN,NaN,NaN,234.0
7417305,2019-12-31,UA,112,GUM,SPN,NaN,NaN,NaN,NaN,NaN,224.0

In [31]:
list_of_airports = delay_flights['ORIGIN'].value_counts()
list_of_airports = pd.DataFrame(list_of_airports)
list_of_airports.nunique()

ORIGIN    128
dtype: int64

In [32]:
list_of_airports.head(38)

     ORIGIN
ORD  738010
DEN  597180
SFO  544255
IAH  497191
EWR  417042
LAX  314312
IAD  257350
LAS  129284
BOS  128131
MCO  115892
SEA  101293
SAN   94327
LGA   87564
PHX   67225
PDX   65754
TPA   62968
CLE   62612
SNA   60575
DCA   57942
HNL   52959
MSY   49778
FLL   49654
DFW   47120
PHL   45252
AUS   42784
BWI   39636
MSP   37274
MIA   31973
JFK   30959
SMF   29469
ATL   28360
PIT   26599
SAT   26568
OGG   26184
RDU   24704
RSW   21774
OMA   18324
PBI   18214

### How are these columns related and how can I combine them

### Compare the columns by various measures

In [ ]:
#Fills in nulls as zero as null means no delay
flights.fillna(0, inplace=True)
#Makes FL_DATE column a datetime datatype
flights.FL_DATE = flights.FL_DATE.astype('datetime64')
#Makes FL_DATE the index
# flights = flights.set_index('FL_DATE')

In [ ]:
flights_cat = flights
flights_cat['carrier'] = flights_cat.CARRIER_DELAY > 0

In [ ]:
flights_cat['weather'] = flights_cat.WEATHER_DELAY > 0

In [ ]:
flights_cat['nas'] = flights_cat.NAS_DELAY > 0

In [ ]:
flights_cat['security'] = flights_cat.SECURITY_DELAY > 0

In [ ]:
flights_cat['late_aircraft'] = flights_cat.LATE_AIRCRAFT_DELAY > 0

In [ ]:
flights_cat.drop(columns=['OP_CARRIER', 'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY'])

### At first glance it seems weird that weather does not have as many rows as the rest.  As a pilot I thought that weather dominates the delays so I wondered why this is the case.

### It seems that the NAS data includes non extreme weater as does carrier and late aircraft delay.

In [ ]:
dep = pd.crosstab(flights_cat.FL_DATE, [flights_cat.carrier, flights_cat.weather, flights_cat.nas, flights_cat.security, flights_cat.late_aircraft])

### Chi squared
* Null Hypothesis:  These delay types are independent of each other
* Alternative Hypothesis:  These types are dependent on each other
* Alpha < 0.05

In [ ]:
dep

In [ ]:
chi2, p, degf, expected = stats.chi2_contingency(dep)

In [ ]:
chi2, p

#### There is sufficient evidence to reject the null.  They are dependent on each other.

#### This suggests that there may bee some sort of overlap.  A quick look at the NAS delays shows that minor weather phenomena show up in the NAS as opposed to weather.  Also a weather delay on one leg of an airplanes trip seems to turn into a carrier delay on the next.

### A look at histograms

In [ ]:
plt.hist(flights.CARRIER_DELAY, bins=100)

In [ ]:
plt.hist(flights.WEATHER_DELAY, bins=100)

In [ ]:
plt.hist(flights.NAS_DELAY, bins=100)

In [ ]:
plt.hist(flights.SECURITY_DELAY, bins=100)

In [ ]:
plt.hist(flights.LATE_AIRCRAFT_DELAY, bins=100)

#### Skewed makes a whole lot of sense.  Nothing unexpected here.

### THERE IS sufficient evidence that I can combine these columns in feature engineering.

### Resample my data by daily mean delays

In [ ]:
flights_daily_mean = wrangle.clean_flight_data_for_average_daily_delay(flights)

In [ ]:
flights_daily_mean.sort_index()

In [ ]:
flights_daily_mean.isna().sum()

### Find the best interval to define average delay by to optimize reducing noise while keeping good correlation results

In [ ]:
def plot_average_by_interval():
    
    resample_dict = {'D':'Daily', 'W':'Weekly', '2W':'FORTNIGHTLY', 'M':'Monthly', '3M':'Quarterly', '6M':'Semi-Annually', 'Y':'Yearly'}

    for _ in resample_dict:
        plt.figure(figsize=(10,6))

        flights_daily_mean.resample(_).mean().average_delay.plot(label='daily')
        # flights_daily_mean.resample('W').mean().average_delay.plot(label='weekly')
        # flights_daily_mean.resample('M').mean().average_delay.plot(label='monthly')
        # flights_daily_mean.resample('Y').mean().average_delay.plot(label='yearly')


        plt.title(f'{resample_dict[_][0:]} Average Delay')
        plt.legend()
        plt.show()

        pd.plotting.autocorrelation_plot(flights_daily_mean.average_delay.resample(_).mean())
        plt.show()

plot_average_by_interval()

### Plot the best lag plot based on the airline.  The best will always be 365

In [ ]:
def plot_best_lag_plot():

    #Plots the best correlated lag
    pd.plotting.lag_plot(flights_daily_mean.resample('W').mean(), lag=365)
    plt.title('lag plot');

plot_best_lag_plot()

### Split the data by year

In [ ]:
train = flights_daily_mean.iloc[:2016] 
test = flights_daily_mean.iloc[2016:] 
train.loc['2009-09-30':]

In [ ]:
test

### Plot the seasonal decompositions for the various time periods

In [ ]:
y = train.average_delay.resample('d').mean()

result = sm.tsa.seasonal_decompose(y)

decomposition = pd.DataFrame({
    'y': result.observed,
    'trend': result.trend,
    'seasonal': result.seasonal,
    'resid': result.resid
})

decomposition['trend_centered'] = decomposition.trend - decomposition.trend.mean()
decomposition[['trend_centered', 'seasonal', 'resid']].plot();

In [ ]:
y = train.average_delay.resample('w').mean()

result = sm.tsa.seasonal_decompose(y)

decomposition = pd.DataFrame({
    'y': result.observed,
    'trend': result.trend,
    'seasonal': result.seasonal,
    'resid': result.resid
})

decomposition['trend_centered'] = decomposition.trend - decomposition.trend.mean()
decomposition[['trend_centered', 'seasonal', 'resid']].plot();

In [ ]:
def seasonal_decomposition_plot(duration):
    y = train.average_delay.resample(duration).mean()

    result = sm.tsa.seasonal_decompose(y)

    decomposition = pd.DataFrame({
        'y': result.observed,
        'trend': result.trend,
        'seasonal': result.seasonal,
        'resid': result.resid
    })

    decomposition['trend_centered'] = decomposition.trend - decomposition.trend.mean()
    decomposition[['trend_centered', 'seasonal', 'resid']].plot();
    
seasonal_decomposition_plot('2w')

In [ ]:
y = train.average_delay.resample('m').mean()

result = sm.tsa.seasonal_decompose(y)

decomposition = pd.DataFrame({
    'y': result.observed,
    'trend': result.trend,
    'seasonal': result.seasonal,
    'resid': result.resid
})

decomposition['trend_centered'] = decomposition.trend - decomposition.trend.mean()
decomposition[['trend_centered', 'seasonal', 'resid']].plot();

In [ ]:
y = train.average_delay.resample('3m').mean()

result = sm.tsa.seasonal_decompose(y)

decomposition = pd.DataFrame({
    'y': result.observed,
    'trend': result.trend,
    'seasonal': result.seasonal,
    'resid': result.resid
})

decomposition['trend_centered'] = decomposition.trend - decomposition.trend.mean()
decomposition[['trend_centered', 'seasonal', 'resid']].plot();

In [ ]:
y = train.average_delay.resample('6m').mean()

result = sm.tsa.seasonal_decompose(y)

decomposition = pd.DataFrame({
    'y': result.observed,
    'trend': result.trend,
    'seasonal': result.seasonal,
    'resid': result.resid
})

decomposition['trend_centered'] = decomposition.trend - decomposition.trend.mean()
decomposition[['trend_centered', 'seasonal', 'resid']].plot();

In [ ]:
y = train.average_delay.resample('y').mean()

result = sm.tsa.seasonal_decompose(y)

decomposition = pd.DataFrame({
    'y': result.observed,
    'trend': result.trend,
    'seasonal': result.seasonal,
    'resid': result.resid
})

decomposition['trend_centered'] = decomposition.trend - decomposition.trend.mean()
decomposition[['trend_centered', 'seasonal', 'resid']].plot();

### Once again the best period to resample by seems to be 2 weeks or a fortnight