In [1]:
# # Imoort Libraries
# import os
# import pandas as pd
# import seaborn as sns
# import env
# import wrangle as w 
# import model as m
# import matplotlib.pyplot as plt
# import seaborn as sns
# import statsmodels.api as sm
# import numpy as np
# from scipy import stats
# import matplotlib.pyplot as plt
# import statsmodels.api as sm



# from datetime import datetime
# from statsmodels.tsa.api import Holt, ExponentialSmoothing


# from sklearn.metrics import mean_squared_error
# from math import sqrt 

# import matplotlib.image as image 

# # evaluate
# from sklearn.metrics import mean_squared_error
# from math import sqrt

# # Ignore warnings
# import warnings
# warnings.filterwarnings('ignore')


# Import Libraries
import os
import warnings
import env
import wrangle as w 
import model as m

# Data Manipulation Libraries
import pandas as pd
import numpy as np

# Visualization Libraries
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.image as image

# Statistics and Modeling Libraries
import statsmodels.api as sm
from scipy import stats
from statsmodels.tsa.api import Holt, ExponentialSmoothing
from sklearn.metrics import mean_squared_error
from math import sqrt

# Configuration
from datetime import datetime
warnings.filterwarnings('ignore')

# ACQUIRE

- Data acquired via https://www.kaggle.com/datasets/sherrytp/airline-delay-analysis 
- Data set consisted of 10 csv files
- AA data set has 10 columns and 7628937 rows
### DATA TYPE SUMMARY
- 1 integer
- 3 object 
- 5 float
- 1 datetime value

### MASK FOR AMERICAN AIRLINES

In [2]:
# Using the 'wrangle' module, this line pulls airline data for the airline code 'AA' (American Airlines) and stores it in the 'flights' variable.
flights = w.pull_airline_data('AA')

In [3]:
# This line of code counts the number of occurrences for each unique carrier (OP_CARRIER) in the 'flights' dataset. 
# It will return a Series with the carriers as the index and the counts as the values, sorted in descending order by default.

flights.OP_CARRIER.value_counts()

AA    1050420
Name: OP_CARRIER, dtype: int64

In [4]:
flights

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,row_sums
0,2009-01-01,AA,2,LAX,JFK,35.0,0.0,0.0,0.0,0.0,35.0
1,2009-01-01,AA,16,SFO,JFK,83.0,0.0,0.0,0.0,0.0,83.0
2,2009-01-01,AA,75,IAD,LAX,35.0,0.0,0.0,0.0,7.0,42.0
3,2009-01-01,AA,76,LAX,IAD,15.0,0.0,0.0,0.0,0.0,15.0
4,2009-01-01,AA,85,JFK,SFO,26.0,0.0,0.0,0.0,16.0,42.0
...,...,...,...,...,...,...,...,...,...,...,...
1050415,2019-12-31,AA,1357,MIA,JFK,38.0,0.0,0.0,0.0,41.0,79.0
1050416,2019-12-31,AA,1358,DFW,SAT,51.0,0.0,0.0,0.0,0.0,51.0
1050417,2019-12-31,AA,1368,MIA,LAS,0.0,54.0,0.0,0.0,0.0,54.0
1050418,2019-12-31,AA,1376,DFW,EYW,0.0,0.0,0.0,0.0,24.0,24.0
1050419,2019-12-31,AA,1405,DFW,LAX,35.0,0.0,0.0,0.0,0.0,35.0

 # PREPARE
 
- Sorting columns
- Dropping duplicate rows
- Dropping missing values
- Renaming columns
- Resetting index
- Type conversion
- Filtering
- Aggregation

In [5]:
# Using the 'wrangle' module, clean the 'flights' dataframe to prepare it for computing the average daily delay.
df = w.clean_flight_data_for_average_daily_delay(flights)

In [6]:
# List of columns representing different types of flight delays to be summed up for analysis.
col_to_sum = ['CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY']

In [7]:
# List of top 15 busiest airport hubs in the U.S. by airport code

top_15_hubs = ['ATL',  # Hartsfield-Jackson Atlanta International Airport
               'DFW',  # Dallas/Fort Worth International Airport
               'DEN',  # Denver International Airport
               'ORD',  # O'Hare International Airport, Chicago
               'LAX',  # Los Angeles International Airport
               'JFK',  # John F. Kennedy International Airport, New York
               'IAH',  # George Bush Intercontinental Airport, Houston
               'PHX',  # Phoenix Sky Harbor International Airport
               'EWR',  # Newark Liberty International Airport
               'SFO',  # San Francisco International Airport
               'SEA',  # Seattle-Tacoma International Airport
               'IAD',  # Washington Dulles International Airport
               'PHL',  # Philadelphia International Airport
               'CLT',  # Charlotte Douglas International Airport
               'MIA']  # Miami International Airport

In [8]:
# Display the first five rows of the 'flights' DataFrame to get an initial overview of its structure and data.
flights.head().T

,0,1,2,3,4
FL_DATE,2009-01-01 00:00:00,2009-01-01 00:00:00,2009-01-01 00:00:00,2009-01-01 00:00:00,2009-01-01 00:00:00
OP_CARRIER,AA,AA,AA,AA,AA
OP_CARRIER_FL_NUM,2,16,75,76,85
ORIGIN,LAX,SFO,IAD,LAX,JFK
DEST,JFK,JFK,LAX,IAD,SFO
CARRIER_DELAY,35.0,83.0,35.0,15.0,26.0
WEATHER_DELAY,0.0,0.0,0.0,0.0,0.0
NAS_DELAY,0.0,0.0,0.0,0.0,0.0
SECURITY_DELAY,0.0,0.0,0.0,0.0,0.0
LATE_AIRCRAFT_DELAY,0.0,0.0,7.0,0.0,16.0
row_sums,35.0,83.0,42.0,15.0,42.0

### OBSERVED NUMERICAL FEATURES

In [9]:
# Retrieve the number of rows and columns in the 'flights' DataFrame.
flights.shape

(1050420, 11)

In [10]:
# Observe data types

flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050420 entries, 0 to 1050419
Data columns (total 11 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   FL_DATE              1050420 non-null  datetime64[ns]
 1   OP_CARRIER           1050420 non-null  object
 2   OP_CARRIER_FL_NUM    1050420 non-null  int64
 3   ORIGIN               1050420 non-null  object
 4   DEST                 1050420 non-null  object
 5   CARRIER_DELAY        1050420 non-null  float64
 6   WEATHER_DELAY        1050420 non-null  float64
 7   NAS_DELAY            1050420 non-null  float64
 8   SECURITY_DELAY       1050420 non-null  float64
 9   LATE_AIRCRAFT_DELAY  1050420 non-null  float64
 10  row_sums             1050420 non-null  float64
dtypes: datetime64[ns](1), float64(6), int64(1), object(3)
memory usage: 88.2+ MB

In [11]:
# Iterate over each column in the DataFrame
for col in df.columns:
    # Print column name, a separator, and then the value counts for that column
    print(f"\n{col}:\n{'-'*20}\n{df[col].value_counts()}\n")

average_delay:
--------------------
81.069730    31
84.610587    31
47.000000     4
55.000000     3
47.351351     2
             ..
45.840149     1
46.744409     1
48.161538     1
41.753521     1
62.432773     1
Name: average_delay, Length: 3936, dtype: int64

In [12]:
# Display the first 5 rows of the dataframe 'df' to get an overview of its structure and data.
df.head()

            average_delay
FL_DATE
2009-01-01      58.260274
2009-01-02      65.522222
2009-01-03      66.687151
2009-01-04      50.191589
2009-01-05      69.574074

In [13]:
# Display the last 5 rows of the dataframe 'df' to get an overview of its structure and data.

df.tail()

            average_delay
FL_DATE
2019-12-27      60.448718
2019-12-28      69.414737
2019-12-29      57.456716
2019-12-30      58.888000
2019-12-31      62.432773

In [14]:
# Generate a statistical summary of the 'flights' dataframe, 
# providing an overview of the distribution for each numerical column.

flights.describe().T

,count,mean,std,min,25%,50%,75%,max
OP_CARRIER_FL_NUM,1050420.0,1366.505955,770.537902,1.0,663.0,1395.0,1990.0,2949.0
CARRIER_DELAY,1050420.0,20.382211,46.774431,0.0,0.0,4.0,24.0,2142.0
WEATHER_DELAY,1050420.0,3.469107,20.483603,0.0,0.0,0.0,0.0,1587.0
NAS_DELAY,1050420.0,13.798474,25.466529,0.0,0.0,3.0,18.0,1138.0
SECURITY_DELAY,1050420.0,0.087493,2.628331,0.0,0.0,0.0,0.0,987.0
LATE_AIRCRAFT_DELAY,1050420.0,19.962781,42.201950,0.0,0.0,0.0,24.0,1514.0
row_sums,1050420.0,57.700065,64.279035,15.0,23.0,38.0,69.0,2142.0

In [15]:
# Extracting the frequency counts of each unique airport in the 'ORIGIN' column of the 'flights' dataframe.
# The result is stored in 'list_of_airports' which is then converted into a DataFrame.
# Finally, we're finding the number of unique counts (i.e., the number of times each airport frequency occurs) using 'nunique()'.

list_of_airports = flights['ORIGIN'].value_counts()
list_of_airports = pd.DataFrame(list_of_airports)
list_of_airports.nunique()

ORIGIN    15
dtype: int64

In [16]:
# Display the first 15 rows of the 'list_of_airports' DataFrame to get a quick overview of the top airports by frequency.
list_of_airports.head(15)

     ORIGIN
DFW  383029
ORD  148995
MIA  126564
CLT   89035
LAX   69633
PHX   49937
PHL   48832
JFK   35101
SFO   28341
DEN   15886
ATL   13902
SEA   12521
EWR   11615
IAH   10944
IAD    6085

## TRAIN SPLIT

In [20]:
# Split the data by year
train = df.iloc[:2016] 
test = df.iloc[2016:] 
train.loc['2009-09-30':]

            average_delay
FL_DATE
2009-09-30      40.461538
2009-10-01      81.069730
2009-10-02      81.069730
2009-10-03      81.069730
2009-10-04      81.069730
...                   ...
2014-07-05      47.061644
2014-07-06      46.952880
2014-07-07      49.320312
2014-07-08      56.581121
2014-07-09      56.832200

[1744 rows x 1 columns]

In [19]:
# Splitting the data resampling the data by year
train, validate, test = m.train_test_split(flights, 'W')

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'RangeIndex'

# EXPLORE

In [ ]:
# Calculate the total delay for each row by summing the delays across the specified columns.

row_sums = flights[['CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY']].sum(axis=1)
row_sums

In [ ]:
# List of top 15 busiest airport hubs in the U.S. by airport code

top_15_hubs = ['ATL',  # Hartsfield-Jackson Atlanta International Airport
               'DFW',  # Dallas/Fort Worth International Airport
               'DEN',  # Denver International Airport
               'ORD',  # O'Hare International Airport, Chicago
               'LAX',  # Los Angeles International Airport
               'JFK',  # John F. Kennedy International Airport, New York
               'IAH',  # George Bush Intercontinental Airport, Houston
               'PHX',  # Phoenix Sky Harbor International Airport
               'EWR',  # Newark Liberty International Airport
               'SFO',  # San Francisco International Airport
               'SEA',  # Seattle-Tacoma International Airport
               'IAD',  # Washington Dulles International Airport
               'PHL',  # Philadelphia International Airport
               'CLT',  # Charlotte Douglas International Airport
               'MIA']  # Miami International Airport

In [ ]:
# Display the first 15 rows of the 'list_of_airports' dataframe to get a quick overview of its data structure and contents.
list_of_airports.head(15)

### Investigate the relationship between these columns and determine methods for merging them.

### Evaluate the columns using different criteria and metrics.

In [ ]:
#Fills in nulls as zero as null means no delay
flights.fillna(0, inplace=True)
#Makes FL_DATE column a datetime datatype
flights.FL_DATE = flights.FL_DATE.astype('datetime64')
#Makes FL_DATE the index
# flights = flights.set_index('FL_DATE')

In [ ]:
flights_cat = flights
flights_cat['carrier'] = flights_cat.CARRIER_DELAY > 0

In [ ]:
flights_cat['weather'] = flights_cat.WEATHER_DELAY > 0

In [ ]:
flights_cat['nas'] = flights_cat.NAS_DELAY > 0

In [ ]:
flights_cat['security'] = flights_cat.SECURITY_DELAY > 0

In [ ]:
flights_cat['late_aircraft'] = flights_cat.LATE_AIRCRAFT_DELAY > 0

In [ ]:
flights_cat.drop(columns=['OP_CARRIER', 'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY'])

In [ ]:
flights.info()

### At first glance it seems weird that weather does not have as many rows as the rest.  As a pilot I thought that weather dominates the delays so I wondered why this is the case.

### It seems that the NAS data includes non extreme weater as does carrier and late aircraft delay.

In [ ]:
dep = pd.crosstab(flights_cat.FL_DATE, [flights_cat.carrier, flights_cat.weather, flights_cat.nas, flights_cat.security, flights_cat.late_aircraft])

### Chi squared
* Null Hypothesis:  These delay types are independent of each other
* Alternative Hypothesis:  These types are dependent on each other
* Alpha < 0.05

In [ ]:
dep

In [ ]:
chi2, p, degf, expected = stats.chi2_contingency(dep)

In [ ]:
chi2, p

#### There is sufficient evidence to reject the null.  They are dependent on each other.

#### This suggests that there may bee some sort of overlap.  A quick look at the NAS delays shows that minor weather phenomena show up in the NAS as opposed to weather.  Also a weather delay on one leg of an airplanes trip seems to turn into a carrier delay on the next.

### A look at histograms

In [ ]:
plt.hist(flights.CARRIER_DELAY, bins=100)

In [ ]:
plt.hist(flights.WEATHER_DELAY, bins=100)

In [ ]:
plt.hist(flights.NAS_DELAY, bins=100)

In [ ]:
plt.hist(flights.SECURITY_DELAY, bins=100)

In [ ]:
plt.hist(flights.LATE_AIRCRAFT_DELAY, bins=100)

#### Skewed makes a whole lot of sense.  Nothing unexpected here.

### THERE IS sufficient evidence that I can combine these columns in feature engineering.

### Resample my data by daily mean delays

In [ ]:
flights_daily_mean = wrangle.clean_flight_data_for_average_daily_delay(flights)

In [ ]:
flights_daily_mean.sort_index()

In [ ]:
flights_daily_mean.isna().sum()

### Find the best interval to define average delay by to optimize reducing noise while keeping good correlation results

In [ ]:
def plot_average_by_interval():
    
    resample_dict = {'D':'Daily', 'W':'Weekly', '2W':'FORTNIGHTLY', 'M':'Monthly', '3M':'Quarterly', '6M':'Semi-Annually', 'Y':'Yearly'}

    for _ in resample_dict:
        plt.figure(figsize=(10,6))

        flights_daily_mean.resample(_).mean().average_delay.plot(label='daily')
        # flights_daily_mean.resample('W').mean().average_delay.plot(label='weekly')
        # flights_daily_mean.resample('M').mean().average_delay.plot(label='monthly')
        # flights_daily_mean.resample('Y').mean().average_delay.plot(label='yearly')


        plt.title(f'{resample_dict[_][0:]} Average Delay')
        plt.legend()
        plt.show()

        pd.plotting.autocorrelation_plot(flights_daily_mean.average_delay.resample(_).mean())
        plt.show()

plot_average_by_interval()

### Plot the best lag plot based on the airline.  The best will always be 365

In [ ]:
def plot_best_lag_plot():

    #Plots the best correlated lag
    pd.plotting.lag_plot(flights_daily_mean.resample('W').mean(), lag=365)
    plt.title('lag plot');

plot_best_lag_plot()

### Split the data by year

In [ ]:
train = flights_daily_mean.iloc[:2016] 
test = flights_daily_mean.iloc[2016:] 
train.loc['2009-09-30':]

In [ ]:
test

### Plot the seasonal decompositions for the various time periods

In [ ]:
y = train.average_delay.resample('d').mean()

result = sm.tsa.seasonal_decompose(y)

decomposition = pd.DataFrame({
    'y': result.observed,
    'trend': result.trend,
    'seasonal': result.seasonal,
    'resid': result.resid
})

decomposition['trend_centered'] = decomposition.trend - decomposition.trend.mean()
decomposition[['trend_centered', 'seasonal', 'resid']].plot();

In [ ]:
y = train.average_delay.resample('w').mean()

result = sm.tsa.seasonal_decompose(y)

decomposition = pd.DataFrame({
    'y': result.observed,
    'trend': result.trend,
    'seasonal': result.seasonal,
    'resid': result.resid
})

decomposition['trend_centered'] = decomposition.trend - decomposition.trend.mean()
decomposition[['trend_centered', 'seasonal', 'resid']].plot();

In [ ]:
def seasonal_decomposition_plot(duration):
    y = train.average_delay.resample(duration).mean()

    result = sm.tsa.seasonal_decompose(y)

    decomposition = pd.DataFrame({
        'y': result.observed,
        'trend': result.trend,
        'seasonal': result.seasonal,
        'resid': result.resid
    })

    decomposition['trend_centered'] = decomposition.trend - decomposition.trend.mean()
    decomposition[['trend_centered', 'seasonal', 'resid']].plot();
    
seasonal_decomposition_plot('2w')

In [ ]:
y = train.average_delay.resample('m').mean()

result = sm.tsa.seasonal_decompose(y)

decomposition = pd.DataFrame({
    'y': result.observed,
    'trend': result.trend,
    'seasonal': result.seasonal,
    'resid': result.resid
})

decomposition['trend_centered'] = decomposition.trend - decomposition.trend.mean()
decomposition[['trend_centered', 'seasonal', 'resid']].plot();

In [ ]:
y = train.average_delay.resample('3m').mean()

result = sm.tsa.seasonal_decompose(y)

decomposition = pd.DataFrame({
    'y': result.observed,
    'trend': result.trend,
    'seasonal': result.seasonal,
    'resid': result.resid
})

decomposition['trend_centered'] = decomposition.trend - decomposition.trend.mean()
decomposition[['trend_centered', 'seasonal', 'resid']].plot();

In [ ]:
y = train.average_delay.resample('6m').mean()

result = sm.tsa.seasonal_decompose(y)

decomposition = pd.DataFrame({
    'y': result.observed,
    'trend': result.trend,
    'seasonal': result.seasonal,
    'resid': result.resid
})

decomposition['trend_centered'] = decomposition.trend - decomposition.trend.mean()
decomposition[['trend_centered', 'seasonal', 'resid']].plot();

In [ ]:
y = train.average_delay.resample('y').mean()

result = sm.tsa.seasonal_decompose(y)

decomposition = pd.DataFrame({
    'y': result.observed,
    'trend': result.trend,
    'seasonal': result.seasonal,
    'resid': result.resid
})

decomposition['trend_centered'] = decomposition.trend - decomposition.trend.mean()
decomposition[['trend_centered', 'seasonal', 'resid']].plot();

### Once again the best period to resample by seems to be 2 weeks or a fortnight